.hero {
  padding: 118px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--accent-background-color);
  color: var(--secondary-text-color-white);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heros/hero-mob@1x.jpg);

  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heros/hero-mob@2x.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heros/hero-tab1x.jpg);

      @include mq(retina) {
          background-image: linear-gradient(to right,
           rgba(47, 48, 58, 0.4),
           rgba(47, 48, 58, 0.4)),
            url(../images/heros/hero-tab@2x.jpg);
    }

  }

  @include mq(desktop) {
    padding: 200px 0;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heros/hero-desk@1x.jpg);

      @include mq(retina) {
        background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
            url(../images/heros/hero-desk@2x.jpg);
          }
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: inherit;

  @include mq (desktop){
  font-size: 44px;
  line-height: 1.36;
  }

}

.hero__btn {
  transition: background-color var(--main-transition),
    color var(--main-transition);

  margin: auto;
  padding: 10px 32px;

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: inherit;
  }
}
