.logo {
    display: block;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}

.logo__part {
    color: var(--accent-color);
}

.logo-footer {
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-text-color-white);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}