.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item {
    margin-right: 30px;
    margin-bottom: 30px;

    width: 370px;

    background: #ffffff;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.project-list-link {
    transition: box-shadow var(--main-transition);

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-example {
    overflow: hidden;
}

.project-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    width: 100%;
    height: 100%;

    transition: transform var(--main-transition);

    .project-list-link:hover &,
    .project-list-link:focus & {
        transform: translateY(0%);
        opacity: 1;
    }
}

.overlay-description {
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color-white);
    background-color: rgba(33, 150, 243, 0.9);
}

.project-description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.project-name {
    transition: color var(--main-transition);
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-text-color);

    &:hover {
        color: var(--accent-color);
    }
}

.project-type {
    transition: color var(--main-transition);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

    &:hover {
        color: var(--accent-color);
    }
}