.section--no-padding-top {
    padding-top: 0;
}

.services {
    display: flex;
    justify-content: center;
}

.services__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
        margin-right: 0%;
    }
}

.services__description {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.services__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-text-color-white);
}