.section--other-bckg {
    background-color: var(--secondary-background-color);

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team {
    display: flex;
}

.team__item {
    margin-right: 30px;

    width: 270px;

    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-right: 0;
    }
}

.team__box {
    padding: 30px 0;
}

.team__title {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    text-align: center;

    color: var(--main-text-color);
}

.team__text {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    text-align: center;
}

.socials-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-group__item:not(:last-child) {
    margin-right: 10px;
}

.socials-group__link {
    transition: background-color var(--main-transition),
        color var(--main-transition);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    color: #afb1b8;

    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--secondary-text-color-white);
    }
}

.socials-group__icon {
    fill: currentColor;
}