body {
    font-family: var(--main-font);
    color: var(--main-text-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;

    min-width: 200px;
    min-height: 50px;
    border: none;

    color: inherit;
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.address {
    font-style: normal;
}

.section__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}